#banner
    .banner_content
        %h1 File Cabinet 🗃
        %p Store whatever you want, in an organized way. 
        %button 
            = link_to "Start storing", new_user_registration_path

#callouts
    .callout_inner 
        .wrapper 
            .callout 
                %h2
                %p Lorem ipsum dolor sit amet consectetur adipiscing elit maecenas imperdiet, laoreet in hac congue pretium nostra ut conubia, suspendisse duis gravida metus rhoncus hendrerit pulvinar ultricies. Id turpis fusce velit elementum phasellus duis, rutrum euismod cum ac felis, tortor ante dapibus hendrerit montes. Feugiat volutpat velit tempus rutrum tempor ridiculus cursus, diam cras venenatis quisque vestibulum sagittis.

#bottom_cta
    .wrapper 
        %h2 Go Ahead!
        %br
        %button 
            = link_to "Join now", new_user_registration_path
